*{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-container {
	display: flex;
	justify-content: center;
	background-color: #ffcd9e;
}
.header {
	height: 70vh;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
}

.header-left{
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-left h1{
    font-size: 36px;
	font-weight: 700;
	line-height: 130%;
	color: #282828;
}

.header-left h3{
    font-size: 18px;
	font-weight: 800;
	line-height: 160%;
	color: #282828;
}

.header-left p {
    line-height: 120%;
	font-size: 20px;
	font-weight: 500;
	color: #484848;
}

.register-container{
    /* margin-right: 20%; */
    display: flex;
    justify-content: space-between;
}

input {
	padding: 0.5rem 1rem;
	color: #888888;
	width: 60%;
	outline: none;
	border: 4px solid black;
	border-radius: 8px;
	font-weight: 600;
	font-style: 20px;
	line-height: 160%;
}
button {
	background-color: black;
	color: white;
	font-weight: 700;
	border-radius: 8px;
	font-weight: 700px;
	font-style: 20px;
	line-height: 160%;
	padding: 1rem 2rem;
}

#text{
    font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	color: white;
	padding-left: 2rem;
}

.header-right{
    width: 50%;
}

.image-container{
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.image-container img{
    height: 400px;
}

.footer-container {
	display: flex;
	justify-content: center;
	background-color: #282828;
}
.footer {
	color: white;
	height: 30vh;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
}

.footer-left {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 1rem;
}
.footer-right {
	display: flex;
	padding: 2rem;
	text-align: end;
	flex-direction: column;
	gap: 1rem;
}